<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NationSounds</name>
    <description>
        Ton festival favori dans ton mobile !
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>

    <icon src="res/NAtion_SOund.png" />

    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <!-- you can use any density that exists in the Android project -->
        <splash src="res/screen/android/android.png" density="land-hdpi"/>
        <splash src="res/screen/android/android.png" density="land-ldpi"/>
        <splash src="res/screen/android/android.png" density="land-mdpi"/>
        <splash src="res/screen/android/android.png" density="land-xhdpi"/>
        <splash src="res/screen/android/android.png" density="land-xxhdpi"/>

        <splash src="res/screen/android/android.png" density="port-hdpi"/>
        <splash src="res/screen/android/android.png" density="port-ldpi"/>
        <splash src="res/screen/android/android.png" density="port-mdpi"/>
        <splash src="res/screen/android/android.png" density="port-xhdpi"/>
        <splash src="res/screen/android/android.png" density="port-xxhdpi"/>
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <platform name="windows">
        <splash src="res/screen/windows/windows.png" target="SplashScreen"/>
        <splash src="res/screen/windows/windows.png" target="SplashScreenPhone"/>
    </platform>

    <preference name="SplashScreenDelay" value="10000" />
    <preference name="SplashMaintainAspectRatio" value="true" />

</widget>
